<ion-view title="Setting">
    <ion-footer-bar>
        <div class="jumbotron">
            Current time is: <span my-current-time="format"></span>
        </div>
    </ion-footer-bar>
    <ion-content padding="true">
        <div style="text-align:center"><img src="img/ionic.png" class="ionic-logo" ></div><br><br>
        <ion-item>
           App version : {{version}}
        </ion-item>
        <button onclick="window.plugins.socialsharing.share('Message only')">send to your friend</button>
        <button onclick="window.plugins.socialsharing.share('Here is image', 'Your PDF', 'www/img/images.png')">send a image to your friend</button>
        <button onclick="window.plugins.socialsharing.share('Here is a url', 'the url', null,'www.baidu.com')">baidu</button>
        <ion-item>
            <a ng-click="send()"><i class="icon ion-share"    style="font-size:20px;"></i>Share</a>
        </ion-item>
        <ion-item>
           <div> {{space}}</div>
            <div>{{data}}</div>
            <div>{{storage}}</div>
            <div> <button ng-click="createNewFile()">Create New File</button></div>
        </ion-item>
        <ion-item>
            <div style ="height: 4px; width: 100% ; border:1px solid  #000;" ng-show="down">
                <div style="height: 2px; width: {{downloadProgress}}%; transition: width 0.1s; background: blue;"></div>
                    <div>
                        {{downloadProgress | number : 1}}%
                    </div>
            </div>
        </ion-item>
        <ion-item>
            <div
                    round-progress
                    max="100"
                    current="downloadProgress"
                    color="#45ccce"
                    bgcolor="#eaeaea"
                    radius="25"
                    stroke="2"
                    semi="false"
                    rounded="true"
                    clockwise="true"
                    responsive="false"
                    duration="800"
                    animation="easeInOutQuart" ng-show="down"></div>
            <div ng-show="down">{{downloadProgress | number : 1}}%</div>
            <div><button type = "button" ng-click= "download()">Download File</button></div>
        </ion-item>
        <ion-item class="item ">
            <button class="button button-assertive button-block" ng-click="tryLogout()" ng-controller="logoutCtrl">
                logout
            </button>
        </ion-item>
    </ion-content>
</ion-view>